@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', 'sans';
    letter-spacing: 2px;
    text-align: center;
}

/* Styling for header */

#header {
    background-color:rgb(144, 238, 144);
    height: 20vh;
    display: grid;
    
}

h1 {
    align-self: center;
    justify-self: center;
    font-size: 5vh;
 
}

/* Styling for launch-game-modal */
#launch-game-modal {
    height: 60vh;
    display: grid;
}

#form-div {
   align-self: center;
    justify-self: center;
    font-size: 2.8vh;
}

#rockpaperscissorsimage {
    width: 90vw;
    
}

/* Styling for selection button area */

#user-image,
#computer-image {
    font-size: 1.5rem;
    color: whitesmoke;
    background-color: black;
   
}


#button-area {
    height: 33vh;
    display:grid;
}

#button-area-2 {
    align-self: center;
    justify-self: center;
    
}

/*Styling for score display */

.inline {
    display: inline-block;
    margin: 0 5%;
    font-size: 1.3em;
}

#score-area {
    background-color: rgb(144, 238, 144, 0.3);
}

/*Styling for buttons */

.selection-button {
    width: 7rem;
}


.selection-button,
#button-name,
#refresh-button {
    background: none;
    border: none;
    background-color:  rgb(144, 238, 144, 1);
    padding: 0.8rem;
    margin-top: 1rem;
    font-family: 'Shadows Into Light', 'sans';
    font-size: 1.5rem;
    border-radius: 20%;

}

