@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', 'sans';
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}

/* Styling for header */

#header {
    background-color:rgb(144, 238, 144);
    height: 20vh;
    display: grid;
    
}

h1 {
    align-self: center;
    justify-self: center;
    font-size: 5vh;
 
}

h2 {
    font-size: 4vh;
}

/*Styling for buttons */

.selection-button,
#button-name,
#refresh-button {
    background: none;
    border: none;
    background-color:  rgb(144, 238, 144, 1);
    padding: 0.8rem;
    margin-top: 1rem;
    font-family: 'Shadows Into Light', 'sans';
    font-size: 1.5rem;
    border-radius: 20%;

}

.selection-button {
    width: 7rem;
}

.selection-button:hover,
#button-name:hover,
#refresh-button:hover {
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
}


/* Styling for launch-game-modal */
#launch-game-modal {
    display: grid;
    height: 80vh;
}


#form-div {
    align-self: center;
    font-size: 2.8vh;
}

#player-name-form {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#player-name-form #submit-div {
    margin-top: 10vh;
}

.rockpaperscissorsimage {
    width: 20vw;
    margin-top: 10vh;    
}


/*Game Modal Styling here*/

#round-number-display {
    margin-bottom: 0;
}

#round-number-section img {
    height: 60px;
}


/* User and computer image choice*/

#user-image img {
    transform: rotateY(180deg);
}
#user-image img,
#computer-image img {
    width: 25vw;
    margin-top: 1.5rem;
}


/* You lose, you win, you draw alert here*/
#alert-section{
    background-color: black;
    color: whitesmoke;
    height: fit-content;
    font-size: 4vh;
    display: grid;
    
}

#alert-result {
    align-self: center;
    justify-self: center;
    
}

/*Styling for score display: win, lose, draw tally */

.inline {
    display: inline-block;
    margin: 0 5%;
    font-size: 1.3em;
}

#score-area {
    font: 0.5rem;;
    background-color: whitesmoke;
    color: black;
    height:fit-content;
}

/* Rock paper scissors selection buttons*/
#button-area {
    height: 10vh;
    display:grid;
}

#button-area-2 {
    align-self: center;
    justify-self: center;
}





