@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    font-family: 'Shadows Into Light', 'sans';
  
    text-align: center;
}

#header {
    background-color:lightgreen;
    height: 20vh;
    display: grid;
    
}

h1 {
    align-self: center;
    justify-self: center;
}

.inline {
    display: inline-block;
    margin: 0 5%;
    font-size: 1.3em;
}
